#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        Copy_Macro: Copy_Macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(C)>
                ;
        };
        Paste_Macro: Paste_Macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(V)>
                ;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &Paste_Macro &Copy_Macro
                &kp C &kp D &bootloader
            >;
        };
    };
};
