#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        Copy_Macro: Copy_Macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(C)>
                ;
        };
        Paste_Macro: Paste_Macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(V)>
                ;
        };
        relapse: relapse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp K &kp U &kp N &kp G
&kp P &kp A &kp N &kp A &kp L &kp A &kp N &kp G &kp I &kp N
&kp K &kp O &kp Y &kp D &kp I
&kp M &kp A &kp R &kp I &kp N &kp I &kp G
&kp A &kp B &kp U &kp T &kp I &kp N>
<&kp M &kp A &kp N
&kp N &kp G
&kp B &kp A &kp W &kp A &kp T>
<&kp S &kp A &kp N &kp D &kp A &kp L &kp I
&kp K &kp A &kp I &kp L &kp A &kp N &kp G &kp A &kp K &kp O &kp Y
&kp I &kp Y &kp O &kp N &kp G
&kp I &kp Y &kp O>
<&kp A &kp N &kp G
&kp D &kp A &kp L &kp A &kp N &kp G &kp I &kp N
&kp N &kp G>
<&kp P &kp U &kp S &kp O &kp Y
&kp I &kp K &kp A &kp W>
                ;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &Paste_Macro &Copy_Macro
                &kp C &relapse &bootloader
            >;
        };
    };
};
